<!DOCTYPE html>
<html lang="en" ng-app>
<head>
	<meta charset="UTF-8"/>
	<title>Restaurant calcer</title>

	<script src="http://yandex.st/jquery/2.1.0/jquery.min.js"></script>
	<script>window.jQuery || document.write('<script src="js/jquery.js"><\/script>')</script>
	<script src="http://yandex.st/angularjs/1.2.14/angular.min.js"></script>
	<script src="http://yandex.st/bootstrap/3.1.1/js/bootstrap.min.js"></script>
	<script>window.angular || document.write('<script src="js/angular.js"><\/script>')</script>
	<script src="http://yandex.st/underscore/1.6.0/underscore-min.js"></script>
	<link href="http://yandex.st/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">
	<script>
	function cssLoaded(href) {
		var cssFound = false;
		for (var i = 0; i < document.styleSheets.length; i++) {
			var sheet = document.styleSheets[i];
			if (
				sheet['href'] === "http://yandex.st/bootstrap/3.1.1/css/bootstrap.min.css" ||
				sheet['href'] === "https://yandex.st/bootstrap/3.1.1/css/bootstrap.min.css"
			) {
				cssFound = true;
			}
		};
		return cssFound;
	}
	if (!cssLoaded('bootstrap.min.css')) {
		local_bootstrap = new CustomEvent('link');
		local_bootstrap.setAttribute("rel", "stylesheet");
		local_bootstrap.setAttribute("href", "css/bootstrap.min.css");
		document.getElementsByTagName("head")[0].appendChild(local_bootstrap);
	}
	</script>

	<link rel=stylesheet href="css/style.css">
	<script src="js/app.js"></script>
</head>
<body>
	<table ng-controller="Calcer" id="wrapper">
		<tr>
			<td>
				<div class="btn-group">
					<button type="button" class="btn btn-primary">
					Add:
					</button>
					<button type="button" class="btn btn-primary" ng-click="add_person()">
					person →
					</button>
					<button type="button" class="btn btn-primary" ng-click="add_dish()">
					dish ↓
					</button>
				</div>
			</td>
			<td ng-repeat="person in people">
				<button type="button" class="btn btn-default">{{ person.name }}</button>
			</td>
			<td>
				
			</td>
		</tr>

		<tr ng-repeat="dish in dishes">
			<td>
				<div class="btn-group">
					<button type="button" class="btn btn-default">{{ dish.title }}</button>
					<button type="button" class="btn btn-success">=</button>
				</div>
			</td>
			<td ng-repeat="person in people" ng-click="inc_peace(person.id, dish.id)">
				{{person.peaces[dish.id]}}
			</td>
			<td>
				<form class="form-inline">
					<input type="number" class="form-control short" placeholder="{{dish.price}}" min="0" ng-model="dish.price">
				</form>
			</td>
		</tr>

		<tr>
			<td>
			</td>
			<td ng-repeat="person in people">
					<input type="number" class="form-control short" placeholder="{{person.payed}}" min="0" ng-model="person.payed">
			</td>
			<td class="price">
				{{total_sum()}}
			</td>
		</tr>

		<tr>
			<td>
				To pay:
			</td>
			<td ng-repeat="person in people">
					{{sum_person(person.id)}}
			</td>
			<td class="price">
				Tips: {{tips()}}
			</td>
		</tr>
	</table>
</body>
</html>